@font-face {
  font-family: "iconfont"; /* Project id 4158018 */
  src: url('./iconfont.ttf?t=1688876187443') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e6e1";
}
